<h1>Search</h1>

<%= form_tag(players_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag('search') %>
<% end %>

<br>

<% if @players.any? %>
  <%= "#{@players.size} found" %>
<% end %>

<% @players.each do |player| %>
  <ul>
    <li>
      <%= link_to(player.id, player) %>
      <%= [player.primary_name, player.primary_profession].join(': ') %>
    </li>
  </ul>
<% end %>
