<p id="notice"><%= notice %></p>

<p>
  <strong>Tconst:</strong>
  <%= @title_basic.tconst %>
</p>

<p>
  <strong>Title type:</strong>
  <%= @title_basic.title_type %>
</p>

<p>
  <strong>Primary title:</strong>
  <%= @title_basic.primary_title %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @title_basic.original_title %>
</p>

<p>
  <strong>Is adult:</strong>
  <%= @title_basic.is_adult %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @title_basic.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @title_basic.end_year %>
</p>

<p>
  <strong>Runtime minutes:</strong>
  <%= @title_basic.runtime_minutes %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @title_basic.genres %>
</p>

<%= link_to 'Edit', edit_title_basic_path(@title_basic) %> |
<%= link_to 'Back', title_basics_path %>
